.container {
  max-width: 700px !important;
}
#modal {
  margin-top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  max-width: 800px !important;
  height: 100vh;
  overflow-y: auto;
}
